<script type="text/javascript">
    submit_form = function (form_data, url) {
        $.ajax({
            timeout:60000,
            type:"POST",
            data:form_data,
            url:url,
            beforeSend:function () {

            },
            success:function (data) {
                $('#register_wrapper').replaceWith(data);
            },
            error:function (e) {
               alert("error ")
            },
            complete:function () {
            },
            statusCode:{
                404:function () {
                    alert("Page not found - " + url);
                }
            }
        })
    }

    $('document').ready(function () {
        $("#inline").fancybox({
            'modal':true,
            'showCloseButton':false

        });

        $('#add_another_team').click(function () {
            var data = $("#add_another_form").serialize();
            submit_form(data,'/register');
        });

        $("#inline").click();
    });
</script>

<div id="pageBody">
    <a id="inline" href="#register_form"></a>
</div>

<div id="register_form" style="display: none;width:700px;">
    <%= erb :register_form %>
</div>

