<% if session[:user] %>

<h1>Upload Email Addresses</h1>

    <form action='/admin/upload' enctype="multipart/form-data" method='POST'>
        <input name="file" type="file" />
        <input type="submit" value="Upload" />
    </form>

<div class="list">
    <% if @duplicate_emails %>
        <h3>Duplicate Emails</h3>
        <%@duplicate_emails.each do |email|%>
           <%= email %><br/>
       <% end %>
    <% end %>
    <% if @invalid_format_emails %>
        <h3>Invalid Format Emails</h3>
        <%@invalid_format_emails.each do |email|%>
           <%= email %><br/>
       <% end %>
    <% end %>

</div>

    <form action='/admin/flyer' enctype="multipart/form-data" method='POST'>
      <input type="submit" value="Send Flyer" />
    </form>

    <% if @emails_sent %>
        <div>Emails sent ok</div>
    <% end %>
    <% if @emails_sent_error %>
        <h3>Send Flyers Errors</h3>
        <%@emails_sent_error.each do |error|%>
            <%= error %><br/>
        <% end %>
    <% end %>



<% end %>
