<p>
Thank you for your confirmed entry into 'The Forest Glade Fives' (FG5s). Affiliation: <strong>QL00143.</strong>
</p>
<p>
Applications have now closed for the tournament.
</p>
<p>
The tournament takes place on <strong>Saturday May 23rd & Sunday 24th May 2015</strong> at:
</p>
<p>
Forest Glade Football Club<br/>
Barleylands Road<br/>
Barleylands<br/>
Billericay<br/>
Essex<br/>
SS15 4BG
</p>
<p>
    Forest Glade Football Club is an FA Chartered Standard Community Club, one of only a small number in Essex, and as such offers participants in this tournament all of the best practices recommended by the FA.</p>
<p>
<strong>Saturday May 23rd 2015</strong>
Age Groups: U6, U8, U10, and U12
</p>
<p>
<strong>Sunday May 24th 2015</strong>
Age Groups: U7, U9, U11, U13 Girls, U13, U15 and U18
</p>
<p>
This years tournament is being sponsored by audioboom plc and the programmes are being sponsored by Sanderson PLC.
</p>
<p>
Attached are directions to the FG5s 2015 tournament. Please take notice of the parking restrictions around the ground. There is a specific tournament car park at a cost of £2.00 per car. There will be no general admission to the club car park even for the dropping off of players. Please be aware that because of the size of the tournament congestion will occur around the ground so we advise everyone to ensure that they have all players at the ground by 09:30. Please also inform everyone coming to follow the directions of the stewards at all times.
</p>
<p>
As always, whilst the football is the major attraction, around the ground there is planned to be other interests, such as a BBQ, Hot and Cold Refreshments, Sweet Tent, Exhibitions etc.
</p>
<p>
<span style="color:red;font-weight:bold;">For Health and Safety reasons there is a strict policy of: NO DOGS ALLOWED on the tournament grounds.</span>
</p>
<p>
Also attached with this email is also a blank registration form for you to fill in prior to the tournament and bring on the day.
</p>
<p>
Please note that before the games start in the morning we hold a brief manager's meeting.  Please gather by the registration tent at the time stated in the programme (09:30).
</p>
<p>
<strong>Managers are reminded to bring at least one match ball to the tournament for their games. It is the responsibility of the first named team to supply the match ball for that game.</strong>
</p>
<p>
Teams are to consist of five players with up to five substitutes for age groups U7 to U10 and three substitutes for age groups U11 to U18. The U6 age group will play training only (exhibition games).
</p>
<p>
Each age group will have a league stage followed by a knock-out stage. It is planned that each team will have a minimum of at least 4 games. Games in the league stages will be 2 halves of 5 minutes each in duration.
</p>
<p>
There will be no knock-out stages for the U7 or U8 age groups.
</p>
<p>
Please make yourself familiar with the attached Rules and Regulations. In line with FA guidelines the U6 event will be training only (exhibition games) and the U7 and U8 events will be non-competitive with all players receiving a commemorative medal.
</p>
<p>
Where appropriate trophies will be presented to all players in winning teams and the runners-up.
</p>
<p>
When submitting team applications to the tournament all Managers supplied a mobile phone number. Can all Managers please ensure this number is available (& switched on!) on the day.
</p>
<p>
We hope that this will answer any questions but feel free to contact us if you have any queries.
</p>
<p>
For more information on the tournament please visit:
<a href="www.thefg5s.co.uk">www.theFG5s.co.uk</a> or <a href="www.forestgladefc.co.uk">www.ForestGladeFC.co.uk</a>
</p>
<p>
Please make yourself familiar with the terms and conditions relating to the use of the website.
</p>
<p>
It is not the intention of these emails to contact individuals who do not wish to hear about the FG5s 2015 or Forest Glade FC.
</p>