<div>
    <form id="news_item" action="" method="POST">
    <div>
        Importance: <select id="importance" name="importance">
                        <option value="">Please select</option>
        <option value="0">High</option>
        <option value="1">Low</option>
        </select>
    </div>
    <div>
        Show for: <select id="period" name="period">
                        <option value="">Please select</option>
        <option value="0">1 day</option>
        <option value="1">2 days</option>
        <option value="2">3 days</option>
        <option value="3">4 days</option>
        <option value="4">5 days</option>
        <option value="5">1 week</option>
        <option value="6">1 month</option>
        <option value="6">3 months</option>
        <option value="7">6 months</option>
        </select>
    </div>
    <div>Title: <input type="text" name="title" id="title" size="100"/></div>
    <div style="width:200px;">Body: <textarea style="width: 640px; height: 305px; margin: 2px 0px;"   name="body" id="body" size="300"></textarea></div>
    </form>
</div>

